# Python Notebooks

Welcome to Python and Notebooks, a potent combination for learning Python and structuring code workflows.

> This notebook can be [downloaded from here](https://github.com/Norman-Foster-Institute/ua_2024/tree/main/chapter_1).

## Acknowledgements

This Notebook is adapted from ‘Let the snake in’ from the _[A taste of Python](https://geo-python-site.readthedocs.io/en/latest/notebooks/L1/a-taste-of-python.html)_ section of the _[Geo-Python](https://geo-python-site.readthedocs.io) course 2022_ by D. Whipp, H. Tenkanen, V. Heikinheimo, H. Aagesen, and C. Fink from the Department of Geosciences and Geography, University of Helsinki, licensed under CC-BY-SA 4.0.

## Simple Python math

Python can be used as a simple calculator. Remember, you can press `Shift` + `Enter` to execute the code in the cells below. Try it out by typing some simple math into new cells and see what you get.

In [1]:
42 * 12

504

In [2]:
12 / 3

4.0

If you want to edit and re-run some code, change the cell re-execute.

## Functions

You can use Python for more advanced math by using a function. Functions are pieces of code that perform a single action, such as printing information to the screen (e.g., the `print()` function). Functions exist for a huge number of operations in Python.

Let’s try out a few simple examples using functions to find the sin or square root of a value. You can type `sin(3)` or `sqrt(4)` into the cells below to test this out.

In [3]:
sin(3)

NameError: name 'sin' is not defined

In [4]:
sqrt(4)

NameError: name 'sqrt' is not defined

Well, that didn’t work. Python can calculate square roots or do basic trigonometry, but we need one more step.

### Math operations

The table below shows the list of basic arithmetic operations that can be done by default in Python.

| Operation      | Symbol | Example syntax | Returned value |
| -------------- | ------ | -------------- | -------------- |
| Addition       | `+`    | `2 + 2`        | `4`            |
| Subtraction    | `-`    | `4 - 2`        | `2`            |
| Multiplication | `*`    | `2 * 3`        | `6`            |
| Division       | `/`    | `4 / 2`        | `2`            |
| Exponentiation | `**`   | `2 ** 3`       | `8`            |

For anything more advanced, we need to load a module or a package. For math operations, this module is called `math` and can be loaded by typing `import math`.

In [5]:
import math

Now that we have access to functions in the `math` module, we can use it by typing the module name, a period (dot), and the name of the function we want to use. For example, `math.sin(3)`. Try this with the sine and square root examples from above.

In [6]:
math.sin(3)

0.1411200080598672

In [7]:
math.sqrt(4)

2.0

Let’s summarise what you’ve just done with modules:

1.  A _module_ is a group of code items, such as functions, related to one another. Individual modules are often in a group called a _package_.
2.  Modules can be loaded using `import`. Functions that are part of the module `modulename` can then be used by typing `modulename.functionname()`. For example, `sin()` is a function that is part of the `math` module and is used by typing `math.sin()` with some number between the parentheses.
3.  Within a Jupyter Notebook, the variables you defined earlier in the notebook will be available for use in the following cells as long as you have executed the cells.
4.  Modules may also contain constants such as `math.pi` (notice no parentheses at the end). Type this in the cell below to see the constant’s `math.pi` value.

In [8]:
math.pi

3.141592653589793

### Combining functions

Functions can also be combined. The `print()` function returns values within the parentheses as text on the screen. Below, try printing the value of the square root of four.

In [9]:
print(math.sqrt(4))

2.0

You can also combine text with other calculated values using the `print()` function. For example, `print('Two plus two is', 2+2)` would generate the text reading `'Two plus two is 4'`. Combine the `print()` function with the `math.sqrt()` function in the cell below to produce text that reads `'The square root of 4 is 2.0'`.

In [10]:
print("The square root of 4 is", math.sqrt(4))

The square root of 4 is 2.0

## Variables

A <span class="accent">variable</span> can store values calculated in expressions and used for other calculations. Assigning value to variables is straightforward. To assign a value, you type `variable_name = value`, where `variable_name` is the name of the variable you wish to define. In the cell below, define a variable called `temp_celsius`, assign it a value of `10.0`, and then print that variable value using the `print()` function. Note that you should do this on two separate lines.

In [11]:
temp_celsius = 10.0
print(temp_celsius)

10.0

As we did above, you can combine text and even use some math when printing out variable values. The idea is similar to adding 2+2 or calculating the square root of four from the previous section. In the cell below, print out the value of `temp_celsius` in degrees Fahrenheit by multiplying `temp_celsius` by 9/5 and adding 32. This should be done within the `print()` function to produce output that reads `'Temperature in Fahrenheit: 50.0'`.

In [12]:
print("Temperature in Fahrenheit:", 9 / 5 * temp_celsius + 32)

Temperature in Fahrenheit: 50.0

### Updating variables

Values stored in variables can also be updated. Let’s redefine the value of `temp_celsius` to be equal to 15.0 and print its value in the cells below.

In [13]:
temp_celsius = 15.0

In [14]:
print("temperature in Celsius is now:", temp_celsius)

temperature in Celsius is now: 15.0

**Warning**

If you try to run some code that accesses a variable that has not yet been defined, you will get a `NameError` message. Try printing out the value of the variable `temp_fahrenheit` using the `print()` function in the cell below.

In [17]:
print("Temperature in Celsius:", 5 / 9 * (temp_fahrenheit - 32))

Temperature in Celsius: 15.0

**Note**

One of the interesting things here is that if we define the undefined variable in a cell lower down in the notebook and execute that cell, we can return to the earlier cell, and the code should now work. That was a bit of a complicated sentence, so let’s test this all out. First, let’s define a variable called `temp_fahrenheit` in the cell below and assign it to be equal to `9/5 * temp_celsius + 32`, the conversion factor from temperatures in Celsius to Fahrenheit. Then, return to the cell above this text and run that cell again. See how the error message has gone away? `temp_fahrenheit` has now been defined, and thus, the cell above no longer generates a `NameError` when the code is executed.

Also, the number beside the cell, for example, `In [2]`, tells you the order in which the Python cells have been executed. This way, you can see a history of the order in which you have run the cells.

In [16]:
temp_fahrenheit = 9 / 5 * temp_celsius + 32

To check their current values, print out the values of `temp_celsius` and `temp_fahrenheit` in the cell below.

In [18]:
print("temperature in Celsius:", temp_celsius, "and in Fahrenheit:", temp_fahrenheit)

temperature in Celsius: 15.0 and in Fahrenheit: 59.0

## Data types

A <span class="accent">data type</span> determines the characteristics of data in a program. There are four basic data types in Python, as shown in the table below.

| Data type name | Data type            | Example  |
| -------------- | -------------------- | -------- |
| `int`          | Whole integer values | `4`      |
| `float`        | Decimal values       | `3.1415` |
| `str`          | Character strings    | `'Hot'`  |
| `bool`         | True/false values    | `True`   |

The data type can be found using the `type()` function. As you will see, the data types are essential because some are incompatible.

Let’s define a variable `weather_forecast` and assign it the value `'Hot'`. After this, we can check its data type using the `type()` function.

In [19]:
weather_forecast = "Hot"
type(weather_forecast)

str

Let’s also check the type of `temp_fahrenheit`.

In [20]:
type(temp_fahrenheit)

float

What happens if you try to combine `temp_fahrenheit` and `weather_forecast` in a single math equation such as `temp_fahrenheit = temp_fahrenheit + 5.0 * weather_forecast`?

In [21]:
temp_fahrenheit = temp_fahrenheit + 5.0 * weather_forecast

TypeError: can't multiply sequence by non-int of type 'float'

In this case, we get at `TypeError` because we are trying to execute a math operation with data types that are not compatible. There is no way in Python to multiply numbers with a character string.